{% extends 'base.html' %}

{% block title %}Lista de Citas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Lista de Citas</h2>

    <!-- Agregar mensajes de éxito o error -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Botón para agregar una nueva cita (solo para clientes y recepcionistas) -->
    {% if user.cliente or user.empleado.rol == 'Recepcionista' %}
        <a href="{% url 'agendar_cita' %}" class="btn btn-success mb-2">Agendar Cita</a>
    {% endif %}

    <!-- Filtros de búsqueda -->
    <form method="GET" class="form-inline mb-2">
        <div class="form-group">
            <label for="search-cliente">Buscar por Cliente:</label>
            <input type="text" class="form-control mx-2" id="search-cliente" name="cliente" placeholder="Nombre del Cliente">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <table class="table table-responsive">
        <thead>
            <tr>
              {% if user.is_authenticated and not user.cliente %}
                <th>ID</th>
                {% endif %}
                <th>Cliente</th>
                <th>Veterinario</th>
                <th>Mascota</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Motivo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
                <tr>
                  {% if user.is_authenticated and not user.cliente %}
                    <td>{{ cita.id }}</td>
                    {% endif %}
                    <td>{{ cita.cliente.user.username }}</td>
                    <td>{{ cita.veterinario.user.username }}</td>
                    <td>{{ cita.mascota.nombre }}</td>
                    <td>{{ cita.fecha }}</td>
                    <td>{{ cita.hora }}</td>
                    <td>{{ cita.get_motivo_display }}</td>
                    <td>{{ cita.get_estado_display }}</td>
                    <td>
                      <div class="d-flex align-items-center">
                        {% if user.empleado and user.empleado.rol == 'Recepcionista' %}
                            <a href="{% url 'editar_cita' cita.id %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'confirmar_borrar_cita' cita.id %}" class="btn btn-danger btn-sm ml-2">Borrar</a>
                        {% endif %}
                        {% if user.cliente or user.empleado and user.empleado.rol == 'Recepcionista' %}
                            <a href="{% url 'confirmar_cancelar_cita' cita.id %}" class="btn btn-warning btn-sm ml-2">Cancelar</a>
                        {% endif %}
                    </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Paginación">
        <ul class="pagination">
          {% if citas.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1">Primera</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ citas.previous_page_number }}">Anterior</a>
            </li>
          {% endif %}
      
          {% for i in citas.paginator.page_range %}
            <li class="page-item{% if i == citas.number %} active{% endif %}">
              <a class="page-link" href="?page={{ i }}">{{ i }}{% if i == citas.number %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
          {% endfor %}
      
          {% if citas.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ citas.next_page_number }}">Siguiente</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ citas.paginator.num_pages }}">Última</a>
            </li>
          {% endif %}
        </ul>
      </nav>
</div>
{% endblock %}
