{% extends 'base.html' %}

{% block title %}Lista de Mascotas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Lista de Mascotas</h2>

    <!-- Agregar mensajes de éxito o error -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.cliente or user.empleado and user.empleado.rol == 'Administrador' or user.empleado.rol == 'Recepcionista' %}
    <!-- Botón para agregar una nueva mascota -->
    <a href="{% url 'agregar_mascota' %}" class="btn btn-success mb-2">Agregar Mascota</a>
    {% endif %}

    <!-- Filtros de búsqueda -->
    {% if user.empleado and user.empleado.rol == 'Veterinario' or user.empleado.rol == 'Administrador' or user.empleado.rol == 'Recepcionista' %}
    <form method="GET" class="form-inline mb-2">
        <div class="form-group">
            <label for="search-cliente">Buscar por Cliente:</label>
            <input type="text" class="form-control mx-2" id="search-cliente" name="cliente" placeholder="Nombre del Cliente">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    {% endif %}
    <table class="table table-responsive">
        <thead>
            <tr>
              {% if user.is_authenticated and not user.cliente %}
                <th>ID</th>
                {% endif %}
                <th>Cliente</th>
                <th>Nombre de la mascota</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Estado</th>
                {% if user.empleado and user.empleado.rol == 'Veterinario' or user.empleado.rol == 'Recepcionista' %}
                    <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for mascota in mascotas %}
                <tr>
                  {% if user.is_authenticated and not user.cliente %}
                    <td>{{ mascota.id }}</td>
                    {% endif %}
                    <td>{{ mascota.cliente.user.username }}</td>
                    <td>{{ mascota.nombre }}</td>
                    <td>{{ mascota.get_especie_display }}</td>
                    <td>{{ mascota.raza }}</td>
                    <td>{{ mascota.estado }}</td>
                    {% if user.cliente or user.empleado and user.empleado.rol == 'Administrador' or user.empleado.rol == 'Veterinario' or user.empleado.rol == 'Recepcionista' %}
                        <td>
                            <a href="{% url 'editar_mascota' mascota.id %}" class="btn btn-primary btn-sm">Editar</a>
                    {% endif %}
                    {% if user.cliente or user.empleado and user.empleado.rol == 'Administrador' or user.empleado.rol == 'Veterinario' or user.empleado.rol == 'Recepcionista' %}
                            <a href="{% url 'confirmar_borrar_mascota' mascota.id %}" class="btn btn-danger btn-sm">Borrar</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Paginación">
        <ul class="pagination">
          {% if mascotas.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1">Primera</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ mascotas.previous_page_number }}">Anterior</a>
            </li>
          {% endif %}
      
          {% for i in mascotas.paginator.page_range %}
            <li class="page-item{% if i == mascotas.number %} active{% endif %}">
              <a class="page-link" href="?page={{ i }}">{{ i }}{% if i == mascotas.number %} <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
          {% endfor %}
      
          {% if mascotas.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ mascotas.next_page_number }}">Siguiente</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ mascotas.paginator.num_pages }}">Última</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      <a href="#" id="volverAtrasBtn" class="btn btn-secondary mt-1">Volver atrás</a>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      var volverAtrasBtn = document.getElementById("volverAtrasBtn");
  
      if (volverAtrasBtn) {
          volverAtrasBtn.addEventListener("click", function() {
              window.history.back();
          });
      }
  });
</script>

{% endblock %}
