
    .navbar {
        max-height: auto; /* Cambiar a la altura deseada */
    }
    .welcome-message {
        color: inherit; /* Hereda el color del texto del Navbar */
        padding: 5px 10px; /* Añade espaciado alrededor del mensaje para hacerlo más destacado */
    }
    
    /* Estilo para el cuerpo de la página */
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Al menos el 100% del alto de la ventana del navegador */
        margin: 0;
    }

    /* Estilo para el contenido principal */
    main {
        flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
    }

    /* Estilo para el footer */
    footer {
        flex-shrink: 0; /* Evita que el footer se reduzca cuando el contenido es grande */
    }
    
    .username {
        color: #7da467; /* Cambia el color del nombre de usuario a verde */
        font-weight: normal; /* Establece el peso de la fuente a normal (no negrita) */
    }

    /* Estilo para el elemento "Rol" */
    .rol-label {
        font-weight: bold;
    }

    /* Estilo para el valor del rol del cliente */
    .cliente-rol {
     color: red;

    }

    /* Estilo para el valor del rol del empleado */
    .empleado-rol {
     color: red;

    }

    .agendar-hora {
        font-weight: bold;
    }

    .gestionar-ventas {
        font-weight: bold;
    }

    .custom-button {
        display: inline-block; /* Hace que los botones se muestren en la misma línea */
        margin-right: 10px; /* Ajusta el margen derecho para separar los botones */
    }

    .estado-column {
        width: 180px; /* Establece un ancho fijo para la columna "Estado" */
    }

    .row.no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    
    .row.no-gutters > [class^="col-"],
    .row.no-gutters > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
    
    .card {
        margin-bottom: 0;
        border-radius: 0;
        overflow: hidden; /* Asegura que la imagen no se salga del borde de la tarjeta */
    }
    
    .card-img-overlay {
        position: relative;
        color: #fff; /* Cambia el color del texto a blanco */
        text-shadow: 0 0 10px rgba(0,0,0,0.3); /* Opcional: Añade sombra al texto para mejorar la legibilidad */
        background-color: rgba(0,0,0,0.2); /* Opcional: Añade un ligero overlay para que el texto resalte más */
        padding: 1rem; /* Añade un poco de espacio dentro de la tarjeta */
    }
    
    .card-title {
        font-size: 2rem; /* Ajusta el tamaño de la fuente del título */
        /* Añade otros estilos como fuente, peso, etc. */
    }
    
    .card-text {
        font-size: 1rem;
        /* Añade otros estilos como fuente, peso, etc. */
    }
    
    .card-button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff; /* Fondo blanco para el botón */
        color: #000; /* Texto negro para el botón */
        border: none; /* Elimina el borde del botón */
        /* Añade otros estilos como padding, bordes redondeados si es necesario, etc. */
        text-decoration: none; /* Elimina el subrayado del texto */
        font-weight: bold; /* Texto en negrita para el botón */
    }

/* Cambiar el color de fondo de los elementos del menú al pasar el mouse */
.navbar-nav .nav-link:hover {
    background-color: #f0f0f0; 
    color: #7da467; 
}

/* Cambiar el color de los elementos desplegables */
.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #f0f0f0; /* Igual que arriba */
    color: #7da467; /* Igual que arriba */
}

/* Estilo por defecto para pantallas pequeñas */
.nav-link.dropdown-toggle {
    white-space: nowrap; /* Asegura que el texto esté en una sola línea */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Estilos para pantallas más grandes */
@media (min-width: 992px) { 
    .nav-link.dropdown-toggle {
        white-space: normal; /* Permite que el texto pase a la siguiente línea */
        line-height: 1.2; /* Ajusta el espacio entre las líneas si es necesario */
    }
}