{% extends 'base.html' %}

{% block title %}Editar Ficha Médica{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Editar Ficha Médica</h2>
    <form method="post">
        {% csrf_token %}
        <!-- Renderiza cada campo individualmente, excluyendo 'cliente' -->
        {% for field in form %}
            {% if field.name != 'cliente' %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'listar_fichas' %}" class="btn btn-secondary">Volver atrás</a>
    </form>
</div>
{% endblock %}